label {
    margin-bottom: 0.5rem;
}

input, label {
    display: flex;
}

input + label {
    margin-left: .5rem;
}

input {
    border: 1px solid #ccc;
    font-family: 'Courier Prime', sans-serif;
}

input[type='text'],
input[type='email'],
input[type='password'] {
   padding: .5rem .7rem;
}

input[type='number'] {
    margin-right: .5rem;
    max-width: 15%;
}

.label-right-input-field {
    align-items: baseline;
    display: flex;
    margin-bottom: .5rem;
}

.input-error {
    color: darkred;
    display: flex;
    font-size: 90%;
    margin-top: .5rem;
}
