.toolsContent{
    border: 1px solid black;
    padding : 1em;
    width: fit-content;
    position: relative;
}

.absoluteCross{
    position: absolute;
    right:1em;
    top:1em;
}

.cross{
    width:20px;
}

.code {
    padding: 1em;
}


.tools>div>p {
    display:inline-block;
    padding : 1em;
}