body {
  font-family: 'Courier Prime', sans-serif;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

form {
  display: inherit;
  margin: 0 1rem;
}

fieldset {
  margin: 2rem 0;
}

legend {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  width: 100%;
}

p {
  margin: 0.5rem 0;
}
